<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chuyển trạng thái bệnh nhân</li>
  </ol>
</nav>
<form method="post" action="/product/add" enctype="multipart/form-data">
  <div class="col-6">
    <label for="floatingInput">CMND/CCCD</label>
    <div class="form-floating mb-3">
      <input required type="text" class="form-control" name="id" />
    </div>
  </div>
  <div class="col-6">
    <label for="floatingInput">Trạng thái</label>
    <div class="form-floating mb-3">
      <input required type="text" class="form-control" name="birthDay" />
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Chuyển trạng thái</button>
  </div>
</form>