<head>
    <style>
        input {
            width: auto;
        }
    </style>
</head>

<body>

    <div class="row" style="padding-top: 60px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create New Product</li>
            </ol>
        </nav>
    </div>
    <form method="post" action="/product/add" enctype="multipart/form-data">
        <div class="col-6">
            <label for="floatingInput">Tên nhu yếu phẩm</label>
            <div class="form-floating mb-3">
                <input required type="text" class="form-control p-0" name="ten_sanpham" />
            </div>
        </div>
        <div class="col-6">
            <label for="floatingInput"> Giá tiền </label>
            <div class="form-floating mb-3">
                <input required type="text" class="form-control" name="gia_tien" />
            </div>
        </div>
        <div class="col-6">
            <label for="floatingInput"> Đơn vị </label>
            <div class="form-floating mb-3">
                <input type="text" readonly type="text" class="form-control" value="VND" />
            </div>
        </div>
        <div class="col-6">
            <label for="floatingInput"> Số lượng </label>
            <div class="form-floating mb-3">
                <input type="number" required type="text" class="form-control" name="con_lai" />
            </div>
        </div>
        <div class="col-6">
            <label for="floatingInput"> Image </label>
            <div class="form-floating mb-3">
                <input data-preview-file-type="text" id="fileup" class='file' type="file" required type="text"
                    class="form-control" id='image' name="ImagePath" multiple data-browse-on-zone-click="true" />
            </div>
        </div>
        <div class="col-12 d-grid">
            <button class="btn btn-primary" style="width: 10%;" type="submit">Create</button>
        </div>
    </form>
</body>